<!DOCTYPE html>
<!--[if lt IE 7 ]><html lang="en" class="ie6 ielt7 ielt8 ielt9"><![endif]--><!--[if IE 7 ]><html lang="en" class="ie7 ielt8 ielt9"><![endif]--><!--[if IE 8 ]><html lang="en" class="ie8 ielt9"><![endif]--><!--[if IE 9 ]><html lang="en" class="ie9"> <![endif]--><!--[if (gt IE 9)|!(IE)]><!-->
<html lang="en"><!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <title>文华在线产品事业部管理系统</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <load file="__PUBLIC__/css/bootstrap.min.css"/>
    <load file="__PUBLIC__/css/bootstrap-responsive.min.css"/>
    <load file="__PUBLIC__/css/site.css"/>
    <link rel="shortcut icon" href="./favicon.ico" />
    <load file="__PUBLIC__/css/theme.css" />
     <load file="__PUBLIC__/css/ch.css" />
     <load file="__PUBLIC__/css/jquery-ui.css" />
    <load file="__PUBLIC__/css/font-awesome.css" />
    <load file="__PUBLIC__/calendar/need/laydate.css"/>
    <load file="__PUBLIC__/calendar/skins/molv/laydate.css"/>
    <load file="__PUBLIC__/js/jquery.min.js"/>
    <load file="__PUBLIC__/calendar/laydate.js"/>
    <script type="text/javascript" src="__PUBLIC__/js/jquery-ui.min.js">
    </script>

    <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>
<body>
<div class="container">
    <div class="head"><h1 align="center">文华在线内容事业部</h1></div>
