<div class="span3">
    <div class="well" style="padding: 8px 0;">
        <ul class="nav nav-list">
            <li class="side-list">
                <h3>我的任务</h3>
                    <ul>
                      <volist name="left[0]" id="a">
                        <li>{$a}</li>
                      </volist>
                    </ul>
            </li>
              <li class="side-list">
                <h3>工作</h3>
                    <ul>
                      <volist name="left[1]" id="b">
                        <li>{$b}</li>
                      </volist>
                    </ul>
            </li>
            <li class="side-list">
                <h3>职位</h3>
                    <ul>
                      <volist name="left[2]" id="c">
                        <li>{$c}</li>
                      </volist>
                    </ul>
            </li>
            <li class="side-list">
                <h3>设置</h3>
                    <ul>
                        <li>重置密码</li>

                    </ul>
            </li>
        </ul>

    </div>
</div>
