<include file="Public/head" />
<include file="Public/menu" />
<include file="Public/side" />

<div class="span9">
    <h1 class="page-title">课程打包设置</h1>
    <div class="row-fluid">
        <div class="block">
            <p class="block-heading" data-toggle="collapse" data-target="#chart-container" align="center">课程标题 </span></p>
            <div id="chart-container" class="block-body collapse in" >
<form action="__APP__/index.php/Admin/Pack/getStru" method="post">
  <h2 align="center">课程简称：&nbsp;&nbsp;<input type="text" name="co">
  </h2>

<?php
foreach($mo['id'] as $k=>$v){
  echo '<div class="ch"><div class="ch_top"><span>';
  echo $mo['name'][$k];
  echo '&nbsp;&nbsp;简称：<input type="text" name="ch[]"></span></div><div class="mo">';
  foreach($mo['m']['id'] as $k=>$v ){
    echo '<div class="pa">';
    echo $mo['m']['name'][$k];
    echo '&nbsp;&nbsp;简称：<input type="text" name="mo[]"></div>';
  }
  echo '</div></div>';
}


?>
<button>提交</button>

</form>
            </div>
        </div>
    </div>

</div>
<include file="Public/foot" />
