<!DOCTYPE html>
<!--[if lt IE 7 ]><html lang="en" class="ie6 ielt7 ielt8 ielt9"><![endif]--><!--[if IE 7 ]><html lang="en" class="ie7 ielt8 ielt9"><![endif]--><!--[if IE 8 ]><html lang="en" class="ie8 ielt9"><![endif]--><!--[if IE 9 ]><html lang="en" class="ie9"> <![endif]--><!--[if (gt IE 9)|!(IE)]><!-->
<html lang="en"><!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <title>文华在线产品事业部管理系统</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <load file="__PUBLIC__/css/bootstrap.min.css"/>

    <link rel="shortcut icon" href="./favicon.ico" />
    <load file="__PUBLIC__/css/theme.css" />
    <load file="__PUBLIC__/css/font-awesome.css" />
<load file="__PUBLIC__/css/slide.css" />
    <load file="__PUBLIC__/js/jquery.min.js"/>

    <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>
<body>
<div class="container">
    <div class="head"><h1 align="center">文华在线内容事业部</h1></div>
<div class="navbar">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </a> <a class="brand" href="#"></a>
            <div class="nav-collapse">
                <ul class="nav">
                    <li class="active">
                        <a href="__APP__/index.php/Home/Index/index">首页</a>
                    </li>
                    <li>
                        <a href="__APP__/index.php/Home/Course/index">课程</a>
                    </li>
                    <li>
                        <a href="__APP__/index.php/Home/User/index">通讯录</a>
                    </li>
                    <li class="dropdown">
                        <a href="help.htm" class="dropdown-toggle" data-toggle="dropdown">Tours <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="help.htm">Introduction Tour</a>
                            </li>
                            <li>
                                <a href="help.htm">Project Organisation</a>
                            </li>
                            <li>
                                <a href="help.htm">Task Assignment</a>
                            </li>
                            <li>
                                <a href="help.htm">Access Permissions</a>
                            </li>
                            <li class="divider">
                            </li>
                            <li class="nav-header">
                                Files
                            </li>
                            <li>
                                <a href="help.htm">How to upload multiple files</a>
                            </li>
                            <li>
                                <a href="help.htm">Using file version</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav pull-right">
                    <li>
                        <a href="__APP__/index.php/Home/Index/log">登录</a>
                    </li>
                    <li>
                        <a href="__APP__/index.php/Home/Index/reg">注册</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <h2>Safari bug warning!</h2>
            <p class="text-danger">As of v8.0, Safari exhibits a bug in which resizing your browser horizontally causes rendering errors in the justified nav that are cleared upon refreshing.</p>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
            <p><a class="btn btn-primary" href="#" role="button">View details »</a></p>
        </div>
        <div class="col-lg-4">
            <h2>Safari bug warning!</h2>
            <p class="text-danger">As of v8.0, Safari exhibits a bug in which resizing your browser horizontally causes rendering errors in the justified nav that are cleared upon refreshing.</p>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
            <p><a class="btn btn-primary" href="#" role="button">View details »</a></p>
        </div>
        <div class="col-lg-4">
            <h2>Safari bug warning!</h2>
            <p class="text-danger">As of v8.0, Safari exhibits a bug in which resizing your browser horizontally causes rendering errors in the justified nav that are cleared upon refreshing.</p>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
            <p><a class="btn btn-primary" href="#" role="button">View details »</a></p>
        </div>
    </div>
</div>
<include file="Pub/foot" />
