<include file="Public/head" />
<include file="Public/menu" />
<include file="Public/side" />
<div class='row-fluid'>
    <p class="block-heading" data-toggle="collapse" data-target="#chart-container" align='center'>学科编辑</p>
    <div class="block span8">
        <form action="__APP__/index.php/Admin/Cat/up" method="post">
            <div align="center" class="block-heading" data-toggle="collapse" data-target="#tablewidget"> 
                学科：<input type='text' style="width: 13%;" name='cat_name' value="{$cat.cat_name}"/> 

            </div>
            <div id="tablewidget" class="block-body collapse in" align="center"><br/>
                描述：<input type="text" name="cat_intro" value="{$cat.cat_intro}"/><br/>
                <input type="hidden" name="cat_id" value="{$cat.cat_id}"/>
                <input class="btn-danger" type="submit" value="提交"/>
            </div>
        </form>
    </div>
</div>
<include file="Public/foot" />