<include file="Public/head" />
<include file="Public/menu" />
<include file="Public/side" />
<div class='row-fluid'>
    <p class="block-heading" data-toggle="collapse" data-target="#chart-container" align='center'>学科编辑</p>
    <div class="block span8">
        <form action="__APP__/index.php/Admin/Cat/up" method="post">
            <div class="block-heading" data-toggle="collapse" data-target="#tablewidget"> 
                学科：<input type='text' style="width: 13%;" name='cat_name' value="{$cat.cat_name}"/> 
                负责部门：<select name="cat_dep" style="width: 13%;">
                    <option value="{$cat.cat_dep}"></option>
                    <volist name="dep" key="k" id="dp">
                        <option value="{$k}">{$dp}</option>
                    </volist>
                </select>
                <button id="addmo" class="btn-info" type="button" style="float: right;">添加模块</button></div>
            <div id="tablewidget" class="block-body collapse in">
                <ol id="ol">
                    <volist name="cat['m']" id='m' key='k'>
                        <li>
                            模块：
                            <input type="text" name="modu_name[]" value="{$m.name}"><br/>
                            &nbsp;&nbsp;负责部门：
                            <select class="modu_dep" name="modu_dep[]" style="width: 13%;">
                                <option value="{$m.dep}"></option>
                                <volist name="dep" key="k" id="dp">
                                    <option value="{$k}">{$dp}</option>
                                </volist>
                            </select>
                        </li>
                    </volist>              
                </ol> 
                <input type="hidden" name="cat_id" value="{$cat.cat_id}"/>
                <input class="btn-danger" type="submit" value="提交"/>
            </div>
    </div>
</form>
</div>
</div>
<script>
    $(function () {
        $("#addmo").click(function () {
            var op = $("select[name='cat_dep']").html();
            $("#ol").append("<li>模块：<input type='text' name='modu_name[]' style='width: 13%;' placeholder='名称' /><br/>负责部门：<select class='modu_dep' name='modu_dep[]' style='width: 13%;'>" + op + "</select></li>");
        });
    });
</script>
<include file="Public/foot" />