<include file="Public/head" />
<include file="Public/menu" />
<include file="Public/side" />
<script>
    $(function(){
        $('#add').hide();
        $('#btn').click(function(){
            $('#add').show();
        });
    });
</script>
<div class="span9">
    <h1 class="page-title">学科分类</h1>
     <div class="row-fluid">
         <p class="block-heading" data-toggle="collapse" data-target="#chart-container " align="center">学科列表<span style="float: right;"><a href="__APP__/index.php/Admin/Cat/add">添加学科</a></span></p>
        <volist name="ca" id="c" key="k">
        <div class="block span6">
            <div class="block-heading" data-toggle="collapse" data-target="#tablewidget"> 学科{$k}、{$c.name}&nbsp;&nbsp; 负责部门：{$c.dep}</div>
            <div id="tablewidget" class="block-body collapse in">
                <ol>
                <?php
                    foreach($c['modu'] as $i=>$v){
                        echo "<br/><li>".$v."</li>";
                    }
                ?>
                </ol> 
                <p>学科操作： <a href="__APP__/index.php/Admin/Cat/edt/id/{$c.id}">编辑</a>&nbsp;&nbsp; &nbsp;&nbsp;<a href="__APP__/index.php/Admin/Cat/del/id/{$c.id}">删除</a></p>
            </div>
        </div>
        </volist>
    </div>
</div>
<include file="Public/foot" />
