<include file="Pub/head" />
<include file="Pub/menu" />
<div class="span9">
    <h2 align="center">
        {$cou.name}
    </h2>
    <div>
        <h3>章节列表</h3>
        <div class='chapter'>
            <volist name="ch" id="c" key="k">
                <div class='chap-list'>
                    <div class='ch_'>
                        <h3>
                            <span class='ch_name'>
                                {$c.name}
                            </span>
                            <span class='ch_pro'>
                                {$c.pro}%
                            </span>
                            <span>
                                开始于： {$c.time_s}
                            </span>
                            <button class="ch_dep btn-info"   >详细</button>
                            <button class="ch_pro btn-success" type="button">更新进度</button>
                        </h3>
                        <div class='modu'>
                            <volist name="c['mo']" id='m'>
                                <h4>
                                    <span class='sec_name'>
                                        模块名： {$m.mo_name}
                                    </span>
                                    <span>
                                        负责人：{$m.mo_manager}
                                    </span>
                                    <span>
                                        进度：{$m.mo_pro}%
                                    </span>
                                    <span>
                                        开始：{$m.mo_time_s}
                                    </span>
                                </h4>

                            </volist>
                        </div>
                    </div>                


                </div>
            </volist>
        </div>
    </div>
    <script>
        $(function () {
            $(".modu").hide();
            $(".ch_dep").click(function () {
                if ( $(this).html()=="详细"){
                    $(this).parent().parent().children("div").show();
                    $(this).html("隐藏");
                }else{
                    $(this).parent().parent().children("div").hide();
                    $(this).html("详细");
                }
            });
        });
    </script>
    <ul class="pager">
        <li class="next">
            <a href="activity.htm">More &rarr;</a>
        </li>
    </ul>
    <ul class="pager">
        <li class="center">
            <a href="http://www.ulearn.cn/" target="_blank">优学院</a> <a href="http://www.ulearning.com.cn/" title="文华在线" target="_blank">文华在线</a>
        </li>
    </ul>
</div>
<include file="Pub/side" />
<include file="Pub/foot" />