      <!--content-->
	<div class="container-fluid">
	    <div class="row-fluid">
		            <div class="span3">
		                <div class="sidebar-nav">
                                    <div class="nav-header" data-toggle="collapse" data-target="#dashboard-menu"><i class="icon-dashboard"></i>课程</div>
                                  <ul id="dashboard-menu" class="nav nav-list collapse in">

                                      <li><a href="__APP__/index.php/Admin/Course/index">课程管理</a></li>

                                      <li ><a href="__APP__/index.php/Admin/Cat/index">课程分类</a></li>
                                      <li ><a href="__APP__/index.php/Admin/Set/index">课程设置</a></li>

                                  </ul>

                                    <div class="nav-header" data-toggle="collapse" data-target="#dashboard-menu"><i class="icon-dashboard"></i>&nbsp;人事</div>
                                  <ul id="dashboard-menu" class="nav nav-list collapse in">

                                      <li><a href="__APP__/index.php/Admin/User/index">人员管理</a></li>
                                      <li ><a href="__APP__/index.php/Admin/User/dep">部门列表</a></li>
                                      <li ><a href="__APP__/index.php/Admin//User/work">工作统计</a></li>
                                  </ul>

		                <div class="nav-header" data-toggle="collapse" data-target="#accounts-menu"><i class="icon-briefcase"></i>账户<span class="label label-info">+10</span></div>
		                <ul id="accounts-menu" class="nav nav-list collapse in">

		                  <li ><a href="__APP__/index.php/Admin/Index/ext">退出</a></li>
		                  <li ><a href="__APP__/index.php/Admin/User/reset">密码重置</a></li>
		                </ul>

		                <div class="nav-header" data-toggle="collapse" data-target="#legal-menu"><i class="icon-legal"></i>权限</div>
		                <ul id="legal-menu" class="nav nav-list collapse in">
		                  <li ><a href="privacy-policy.html">私有属性</a></li>
		                  <li ><a href="terms-and-conditions.html">Terms and Conditions</a></li>
		                </ul>


		            </div>
        </div>
