<include file="Pub/head" />
<include file="Pub/menu" />
<div class="span9">
    <div class="span6">
        <form class="main" method="post">
            <div ><br/>
                <h2 align="center">
                    课程：<input type="text" name="co_name"    placeholder="名称"/>
                </h2>
                类型: <select style="width:20%;" name="co_type">
                    <option value="1">标准</option>
                    <option value="0">定制</option>
                </select>&nbsp;&nbsp;&nbsp;&nbsp;
                学科：<select style="width:20%;"  name="co_cat">
                    <option >请选择</option>
                    <volist name="cat[2]" id='c' key='k' >
                        <option value="{$k}"> {$c}</option>
                    </volist>
                </select> &nbsp;&nbsp;&nbsp;&nbsp;
                负责人：<input id="manager" style="width:20%;" type="text" name="co_manager" />

            </div>
            <div align="center"><br/>

                进度：<input style="width:20%;" type="range" value="0" step="10" id="range"  name="co_process" min="0" max="100" /><span id="pro"></span>
                &nbsp;&nbsp;&nbsp;&nbsp;
                计划结束时间：<input type="text"  id="end" value="{$dat.co_time_e}" class="laydate-icon" name="co_time_e" onClick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})" />
            </div>
            <div align="center"><button class="btn-success" type="submit">创建课程</button></div>

        </form>
    </div>
</div>
<script>

//auto complete
$(function () {
  var user={$user};
  $("#manager").autocomplete({
        source: user
  });
});
                    //设置input 进度的值
                    var $pro = $("input[name='co_process']");
                    $pro.mouseout(function () {
                            $("#pro").empty();
                            $("#pro").append($pro.val() + '%');
                        });
                    //日期范围限制

                    var end = {
                        elem: '#end',
                        format: 'YYYY-MM-DD',
                        min: laydate.now(),
                        max: '2099-06-16',
                        istime: true,
                        istoday: false,
                        choose: function (datas) {
                            start.max = datas; //结束日选好后，充值开始日的最大日期
                        }
                    };
                    laydate(end);
                </script>
<include file="Pub/side" />
<include file="Pub/foot" />
