<include file="Pub/head" />
<include file="Pub/menu" />
    <div class="span9">
        <h2 align="center">
            课程
        </h2>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>
                        课程
                    </th>
                    <th>
                        类型
                    </th>
                    <th>
                        学科
                    </th>
                    <td>
                        负责人
                    </td>
                    <td>
                        进度
                    </td>
                    <th>
                        开始时间
                    </th>
                    <th>
                        View
                    </th>
                </tr>
            </thead>
            <tbody>
            <volist name="co" id="cou" >
                <tr>
                <td>
                   {$cou.name}
                </td>
                <td>
                    {$cou.type}
                </td>
                <td>
                   {$cou.cat}
                </td>
                <td>
                    {$cou.manager}
                </td>
                <td>
                    {$cou.pro}
                </td>
                <td>
                    {$cou.time_s}
                </td>
                <td>
                    <a href="__APP__/index.php/Home/Chapter/index/co/{$cou.id}" class="view-link">View</a>
                </td>
            </tr>
            </volist>

            </tbody>
        </table>
        <h2 align="center">
            进行中课程
        </h2>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>
                        课程
                    </th>
                    <th>
                        类型
                    </th>
                    <th>
                        学科
                    </th>
                    <th>
                        课程进度
                    </th>
                    <th>
                        View
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        Nike.com Redesign
                    </td>
                    <td>
                        Monsters Inc
                    </td>
                    <td>
                        New Task
                    </td>
                    <td>
                        4 days ago
                    </td>
                    <td>
                        <a href="#" class="view-link">View</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <ul class="pager">
            <li class="next">
                <a href="activity.htm">More &rarr;</a>
            </li>
        </ul>
        <ul class="pager">
            <li class="center">
                <a href="http://www.ulearn.cn/" target="_blank">优学院</a> <a href="http://www.ulearning.com.cn/" title="文华在线" target="_blank">文华在线</a>
            </li>
        </ul>
    </div>
    <include file="Pub/side" />
    <include file="Pub/foot" />
