<include file="Public/head" />
<include file="Public/menu" />
<include file="Public/side" />
<script>
    $(function(){
        $("#con").hide();
         $("#add").click(function(){
                $("#con").show();
        });
    });
</script>
<div class="span9">
    <h1 class="page-title">课程管理</h1>
    <div class="row-fluid">
        <div class="block">
            <p class="block-heading" data-toggle="collapse" data-target="#chart-container" align="center">课程列表 <span style="float: right;"><a href="__APP__/index.php/Admin/Course/add">添加课程</a></span></p>
            <div id="chart-container" class="block-body collapse in">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>编号</th>
                            <td>名称</td>
                            <td>类型</td>
                            <td>负责人</td>
                            <td>课程进度</td>
                            <td>开始时间</td>
                             <td>结束时间</td>
                            <td>操作</td>
                        </tr>
                    </thead>
                    <tbody>
                    <volist name="co" id="c" key="k">
                       
                        <tr>
                            <td>{$k}</td>
                            <td><a href="__APP__/index.php/Admin/Chapter/index/co/{$c.co_id}" title="点击查看详细">{$c.co_name}</a></td>
                            <td>{$c.co_type}</td>
                            <td>{$c.co_manager}</td>
                            <td>{$c.co_process}</td>
                            <td>{$c.co_time_s}</td>
                            <td>{$c.co_time_e}</td>
                            <td><a href="__APP__/index.php/Admin/Course/edt/co/{$c.co_id}">编辑</a>&nbsp;&nbsp;<a  href="__APP__/index.php/Admin/Course/del/co/{$c.co_id}">删除</a></td>
                        </tr>
                    </volist>
                        
                    </tbody>
                   
                </table>
               
            </div>
        </div>
    </div>	
    
</div>
<include file="Public/foot" />


