<include file="Public/head" />
<include file="Public/menu" />
<include file="Public/side" />

<div class="span9">
    <h1 class="page-title">课程工具</h1>
    <div class="row-fluid">
        <div class="block">
            <p class="block-heading" data-toggle="collapse" data-target="#chart-container" align="center">功能列表 <span style="float: right;"><a href="__APP__/index.php/Admin/Course/add">添加课程</a></span></p>
            <div id="chart-container" class="block-body collapse in" >
              <div>
                <h1>设置metaData文件夹</h1>
                <p><button>生成pageInfo文件</button><button>生成Courselabel文件</button><button>生成courseDate文件</button></p>
              </div>



           </div>
       </div>
   </div>

</div>
<include file="Public/foot" />
