<include file="Public/head" />
<include file="Public/menu" />
<include file="Public/side" />

<div class="span9">
    <h1 class="page-title">人员管理</h1>
    <div class="row-fluid">
        <div class="block">
            <p class="block-heading" data-toggle="collapse" data-target="#chart-container">添加人员</p>
            <div id="chart-container" class="block-body collapse in">
                <div class="form-group">
                    <form action="__APP__/index.php/Admin/User/addup" method="post">
                        <label>姓名：</label>
                        <input type="text" name="u_name"  class="form-control" placeholder="姓名" /><br/>
                        
                        <label>职位：</label>
                        <select name="u_pos">
                            <volist name="up['name']" id="u" key="k">
                                <option value="{$k}">{$u}</option>
                            </volist>
                        </select>
                       <br/>
                        <label>邮箱：</label>
                        <input type="text" name="u_email" class="form-control" placeholder="email" /><br/>
                        <label>电话：</label>
                        <input type="text" name="u_tel" class="form-control" placeholder="telephone" /><br/>
                        <label>qq:</label>
                        <input type="text" name="u_qq" class="form-control" placeholder="qq" /><br/>
                        <input type="submit" value="提交"/> 
                    </form>
                </div>
            </div>
        </div>
    </div>	
</div>
<include file="Public/foot" />

