<include file="Public/head" />
<include file="Public/menu" />
<include file="Public/side" />
<div class="span9">
    <h1 class="page-title" aling="center">部门管理</h1>
    <div class="row-fluid">
        <div class="block">
            <script>
                $(function () {
                    $("#adtd").hide();
                    $("#adbtn").click(function () {
                        $("#adtd").show();
                    });
                });
            </script>

            <p class="block-heading" data-toggle="collapse" data-target="#chart-container" align="center">部门列表</p>
            <div id="chart-container" class="block-body collapse in">
            <span  style="float: right;"><button type="button" id="adbtn" >添加部门</button></span>  
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>编号</th>
                            <th>部门</th>
                            <th>描述</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                    <volist name="grou" id="g" key="k">
                        <tr>
                            <td>
                                {$k}
                            </td>
                            <td>
                                {$g.cat_name}
                            </td>
                            <td>
                                {$g.cat_intro}
                            </td>
                            <td>
                                <a href="__APP__/index.php/Admin/User/pedt/id/{$g.cat_id}">编辑</a>&nbsp;&nbsp;<a  href="__APP__/index.php/Admin/User/pdel/id/{$g.cat_id}">删除</a>
                            </td>
                        </tr>
                    </volist>
                    <tr id="adtd">
                    <form action="__APP__/index.php/Admin/User/paup" method="post">
                        <td></td><td> <input type="text" name="name"  placeholder="部门"  /></td>
                        <td><input type="text" name="intro" placeholder="介绍"   /></td>
                        <td><input type="submit" name="sub" value="添加"    /></td>
                    </form>
                </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<include file="Public/foot" />
