<include file="Public/head" />
<include file="Public/menu" />
<include file="Public/side" />

<div class="span9">
    <h1 class="page-title" aling="center">人员管理</h1>
    <div class="row-fluid">
        <div class="block">
            <p class="block-heading" data-toggle="collapse" data-target="#chart-container" align="center">人员列表<span style="float: right;"><a href="__APP__/index.php/Admin/User/add">添加人员</a></span></p>
            <div id="chart-container" class="block-body collapse in">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>编号</th>
                            <td>姓名</td>
                            <td>职位</td>
                            <td>邮件</td>
                            <td>电话</td>
                            <td>qq</td>
                            <td>操作</td>
                        </tr>
                    </thead>
                    <tbody>
                    <volist name="user" id="u" key="k">
                        <tr>
                            <td>{$k}</td>
                            <td><a href="__APP__/index.php/Admin/User/index/id/{$u.u_id}" title="点击查看详细">{$u.u_name}</a></td>
                            <td>{$u.u_pos}</td>
                            <td>{$u.u_email}</td>
                            <td>{$u.u_tel}</td>
                            <td>{$u.u_qq}</td>
                            <td><a href="__APP__/index.php/Admin/User/edt/id/{$u.u_id}">编辑</a>&nbsp;&nbsp;<a  href="__APP__/index.php/Admin/User/del/id/{$u.u_id}">删除</a></td>
                        </tr>
                    </volist>
                    </tbody>
                </table>
            </div>
        </div>
    </div>	
</div>
<include file="Public/foot" />

